/* App.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdeaf8; /* Light pink background */
  margin: 0;
  padding: 0;
}

form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #ff007f; /* Pink text */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
  color: #ff007f; /* Pink text */
}

input[type="number"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 12px;
  border: 2px solid #ff007f; /* Pink border */
  border-radius: 5px;
}
input:focus {
  border: #ff007f; /* Pink border */
}

#sex {
  margin-bottom: 15px;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type='radio']:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: -1px;
  left: -2px;
  position: relative;
  background-color: #ff00b7;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #ff0055;
}


button {
  background-color: #ff007f; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff77a5; 
}

output {
  font-weight: bold;
  font-size: 20px;
  color: #ff007f; 
  margin-top: 15px;
}

