@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

body {
  font-family: 'Josefin Sans';
  background-color: #ffd7f4; 
  margin: 0;
  padding: 0;
}

form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 10px 10px 10px #0001003a;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #ff007f; 
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
  color: #ff007f;
}

input[type="number"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 12px;
  border: 2px solid #ff007f; 
  border-radius: 5px;
}

#sex {
  margin-bottom: 15px;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type='radio']:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: -1px;
  left: -2px;
  position: relative;
  background-color: #ff00b7;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #ff0055;
}


button {
  background-color: #ff007f; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff77a5; 
}

output {
  font-weight: bold;
  font-size: 20px;
  color: #ff007f; 
  margin-top: 15px;
}

